USE [master]
GO
/****** Object:  Database [Conta]    Script Date: 11/12/2025 5:53:59 p. m. ******/
CREATE DATABASE [Conta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Conta', FILENAME = N'D:\SQLDATA\Conta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Conta_log', FILENAME = N'D:\SQLDATA\Conta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Conta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Conta]
GO
/****** Object:  User [rafael]    Script Date: 11/12/2025 5:53:59 p. m. ******/
CREATE USER [rafael] FOR LOGIN [rafael] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [rafael]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [rafael]
GO
ALTER ROLE [db_datareader] ADD MEMBER [rafael]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [rafael]
GO
/****** Object:  Table [dbo].[asientos_contables]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asientos_contables](
	[id_comprobante_tipo] [varchar](10) NOT NULL,
	[id_comprobante_folio] [varchar](20) NOT NULL,
	[consecutivo] [int] NOT NULL,
	[id_cuenta] [varchar](20) NOT NULL,
	[fecha] [date] NOT NULL,
	[concepto] [nvarchar](255) NULL,
	[debe] [decimal](18, 2) NULL,
	[haber] [decimal](18, 2) NULL,
	[referencia] [nvarchar](100) NULL,
	[creado_en] [datetime] NULL,
 CONSTRAINT [PK_Asiento] PRIMARY KEY CLUSTERED 
(
	[id_comprobante_tipo] ASC,
	[id_comprobante_folio] ASC,
	[consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[backups_historicos]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[backups_historicos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_periodo] [int] NULL,
	[tabla_origen] [varchar](50) NOT NULL,
	[total_registros] [int] NOT NULL,
	[ruta_archivo] [varchar](500) NULL,
	[checksum] [varchar](100) NULL,
	[creado_en] [datetime] NULL,
	[id_usuario_backup] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bitacora_actividad]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora_actividad](
	[id_bitacora] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[accion] [varchar](100) NOT NULL,
	[tabla_afectada] [varchar](50) NULL,
	[id_registro_afectado] [int] NULL,
	[fecha] [datetime2](7) NULL,
	[ip] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[rfc] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[rfc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comprobantes]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comprobantes](
	[tipo] [varchar](10) NOT NULL,
	[folio] [varchar](20) NOT NULL,
	[fecha] [date] NOT NULL,
	[concepto] [nvarchar](255) NOT NULL,
	[total] [decimal](18, 2) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[id_cliente] [int] NULL,
	[id_proveedor] [int] NULL,
	[creado_en] [datetime] NULL,
 CONSTRAINT [PK_Comprobante] PRIMARY KEY CLUSTERED 
(
	[tipo] ASC,
	[folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conciliaciones]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conciliaciones](
	[id_conciliacion] [int] IDENTITY(1,1) NOT NULL,
	[id_cuenta_bancaria] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[saldo_banco] [decimal](18, 2) NOT NULL,
	[saldo_sistema] [decimal](18, 2) NOT NULL,
	[diferencia] [decimal](18, 2) NOT NULL,
	[estatus] [varchar](20) NOT NULL,
	[fecha_conciliacion] [datetime] NULL,
	[id_usuario_concilia] [int] NULL,
	[observaciones] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_conciliacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[configuracion]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[configuracion](
	[clave] [varchar](100) NOT NULL,
	[valor] [nvarchar](500) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[tipo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas_bancarias]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas_bancarias](
	[id_cuenta_bancaria] [int] IDENTITY(1,1) NOT NULL,
	[nombre_banco] [varchar](100) NOT NULL,
	[numero_cuenta] [varchar](30) NOT NULL,
	[moneda] [varchar](3) NULL,
	[codigo_cuenta_contable] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuenta_bancaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas_contables]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas_contables](
	[codigo] [varchar](20) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[nivel] [int] NOT NULL,
	[id_cuenta_padre] [varchar](20) NULL,
	[naturaleza] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documentos_soporte]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documentos_soporte](
	[id_comprobante_tipo] [varchar](10) NOT NULL,
	[id_comprobante_folio] [varchar](20) NOT NULL,
	[id_documento] [int] IDENTITY(1,1) NOT NULL,
	[tipo_documento] [varchar](50) NOT NULL,
	[ruta_archivo] [nvarchar](500) NOT NULL,
	[nombre_original] [nvarchar](255) NULL,
	[creado_en] [datetime] NULL,
 CONSTRAINT [PK_DocumentoSoporte] PRIMARY KEY CLUSTERED 
(
	[id_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](10) NOT NULL,
	[serie] [varchar](20) NULL,
	[folio] [varchar](20) NOT NULL,
	[fecha] [date] NOT NULL,
	[id_cliente] [int] NULL,
	[id_proveedor] [int] NULL,
	[subtotal] [decimal](15, 2) NOT NULL,
	[id_tasa_iva] [int] NULL,
	[iva] [decimal](15, 2) NOT NULL,
	[total] [decimal](15, 2) NOT NULL,
	[id_asiento] [int] NULL,
	[uuid] [varchar](50) NULL,
	[estatus] [varchar](20) NULL,
	[fecha_vencimiento] [date] NULL,
	[id_comprobante_tipo] [varchar](10) NULL,
	[id_comprobante_folio] [varchar](20) NULL,
	[consecutivo_asiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimientos_bancarios]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos_bancarios](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_cuenta_bancaria] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[concepto] [varchar](200) NOT NULL,
	[monto] [decimal](15, 2) NOT NULL,
	[referencia] [varchar](50) NULL,
	[conciliado] [bit] NULL,
	[id_asiento_relacionado] [int] NULL,
	[id_comprobante_tipo] [varchar](10) NULL,
	[id_comprobante_folio] [varchar](20) NULL,
	[consecutivo_asiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[periodos_contables]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[periodos_contables](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[rfc] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[rfc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[saldos_cuentas]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[saldos_cuentas](
	[id_cuenta] [varchar](20) NOT NULL,
	[periodo] [int] NOT NULL,
	[saldo_inicial] [decimal](18, 2) NOT NULL,
	[saldo_final] [decimal](18, 2) NOT NULL,
	[creado_en] [datetime] NULL,
 CONSTRAINT [PK_Saldos] PRIMARY KEY CLUSTERED 
(
	[id_cuenta] ASC,
	[periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasas_iva]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasas_iva](
	[id_tasa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[porcentaje] [decimal](5, 2) NOT NULL,
	[activa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tasa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 11/12/2025 5:53:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[id_rol] [int] NOT NULL,
	[activo] [bit] NULL,
	[creado_en] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cuentas_bancarias_cuenta_contable]    Script Date: 11/12/2025 5:53:59 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_cuentas_bancarias_cuenta_contable] ON [dbo].[cuentas_bancarias]
(
	[codigo_cuenta_contable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_facturas_comprobante]    Script Date: 11/12/2025 5:53:59 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_facturas_comprobante] ON [dbo].[facturas]
(
	[id_comprobante_tipo] ASC,
	[id_comprobante_folio] ASC,
	[consecutivo_asiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_facturas_fecha]    Script Date: 11/12/2025 5:53:59 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_facturas_fecha] ON [dbo].[facturas]
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_movimientos_comprobante]    Script Date: 11/12/2025 5:53:59 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_movimientos_comprobante] ON [dbo].[movimientos_bancarios]
(
	[id_comprobante_tipo] ASC,
	[id_comprobante_folio] ASC,
	[consecutivo_asiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_movimientos_cuenta_fecha]    Script Date: 11/12/2025 5:53:59 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_movimientos_cuenta_fecha] ON [dbo].[movimientos_bancarios]
(
	[id_cuenta_bancaria] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[asientos_contables] ADD  DEFAULT ((0)) FOR [debe]
GO
ALTER TABLE [dbo].[asientos_contables] ADD  DEFAULT ((0)) FOR [haber]
GO
ALTER TABLE [dbo].[asientos_contables] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[backups_historicos] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[bitacora_actividad] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[comprobantes] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[conciliaciones] ADD  DEFAULT ('pendiente') FOR [estatus]
GO
ALTER TABLE [dbo].[cuentas_bancarias] ADD  DEFAULT ('MXN') FOR [moneda]
GO
ALTER TABLE [dbo].[documentos_soporte] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT ('activa') FOR [estatus]
GO
ALTER TABLE [dbo].[movimientos_bancarios] ADD  DEFAULT ((0)) FOR [conciliado]
GO
ALTER TABLE [dbo].[saldos_cuentas] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[tasas_iva] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[asientos_contables]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteAsiento] FOREIGN KEY([id_comprobante_tipo], [id_comprobante_folio])
REFERENCES [dbo].[comprobantes] ([tipo], [folio])
GO
ALTER TABLE [dbo].[asientos_contables] CHECK CONSTRAINT [FK_ComprobanteAsiento]
GO
ALTER TABLE [dbo].[asientos_contables]  WITH CHECK ADD  CONSTRAINT [FK_CuentaAsiento] FOREIGN KEY([id_cuenta])
REFERENCES [dbo].[cuentas_contables] ([codigo])
GO
ALTER TABLE [dbo].[asientos_contables] CHECK CONSTRAINT [FK_CuentaAsiento]
GO
ALTER TABLE [dbo].[backups_historicos]  WITH CHECK ADD  CONSTRAINT [FK_BackupPeriodo] FOREIGN KEY([id_periodo])
REFERENCES [dbo].[periodos_contables] ([id])
GO
ALTER TABLE [dbo].[backups_historicos] CHECK CONSTRAINT [FK_BackupPeriodo]
GO
ALTER TABLE [dbo].[backups_historicos]  WITH CHECK ADD  CONSTRAINT [FK_BackupUsuario] FOREIGN KEY([id_usuario_backup])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[backups_historicos] CHECK CONSTRAINT [FK_BackupUsuario]
GO
ALTER TABLE [dbo].[bitacora_actividad]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[conciliaciones]  WITH CHECK ADD FOREIGN KEY([id_cuenta_bancaria])
REFERENCES [dbo].[cuentas_bancarias] ([id_cuenta_bancaria])
GO
ALTER TABLE [dbo].[conciliaciones]  WITH CHECK ADD FOREIGN KEY([id_usuario_concilia])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[cuentas_bancarias]  WITH CHECK ADD  CONSTRAINT [FK_CuentasBancarias_CuentasContables] FOREIGN KEY([codigo_cuenta_contable])
REFERENCES [dbo].[cuentas_contables] ([codigo])
GO
ALTER TABLE [dbo].[cuentas_bancarias] CHECK CONSTRAINT [FK_CuentasBancarias_CuentasContables]
GO
ALTER TABLE [dbo].[cuentas_contables]  WITH CHECK ADD  CONSTRAINT [FK_CuentaPadre] FOREIGN KEY([id_cuenta_padre])
REFERENCES [dbo].[cuentas_contables] ([codigo])
GO
ALTER TABLE [dbo].[cuentas_contables] CHECK CONSTRAINT [FK_CuentaPadre]
GO
ALTER TABLE [dbo].[documentos_soporte]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteSoporte] FOREIGN KEY([id_comprobante_tipo], [id_comprobante_folio])
REFERENCES [dbo].[comprobantes] ([tipo], [folio])
GO
ALTER TABLE [dbo].[documentos_soporte] CHECK CONSTRAINT [FK_ComprobanteSoporte]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD FOREIGN KEY([id_tasa_iva])
REFERENCES [dbo].[tasas_iva] ([id_tasa])
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_AsientosContables] FOREIGN KEY([id_comprobante_tipo], [id_comprobante_folio], [consecutivo_asiento])
REFERENCES [dbo].[asientos_contables] ([id_comprobante_tipo], [id_comprobante_folio], [consecutivo])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_Facturas_AsientosContables]
GO
ALTER TABLE [dbo].[movimientos_bancarios]  WITH CHECK ADD FOREIGN KEY([id_cuenta_bancaria])
REFERENCES [dbo].[cuentas_bancarias] ([id_cuenta_bancaria])
GO
ALTER TABLE [dbo].[movimientos_bancarios]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_AsientosContables] FOREIGN KEY([id_comprobante_tipo], [id_comprobante_folio], [consecutivo_asiento])
REFERENCES [dbo].[asientos_contables] ([id_comprobante_tipo], [id_comprobante_folio], [consecutivo])
GO
ALTER TABLE [dbo].[movimientos_bancarios] CHECK CONSTRAINT [FK_Movimientos_AsientosContables]
GO
ALTER TABLE [dbo].[saldos_cuentas]  WITH CHECK ADD  CONSTRAINT [FK_CuentaSaldo] FOREIGN KEY([id_cuenta])
REFERENCES [dbo].[cuentas_contables] ([codigo])
GO
ALTER TABLE [dbo].[saldos_cuentas] CHECK CONSTRAINT [FK_CuentaSaldo]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[asientos_contables]  WITH CHECK ADD  CONSTRAINT [CHK_DebeHaber] CHECK  (([debe]>=(0) AND [haber]>=(0)))
GO
ALTER TABLE [dbo].[asientos_contables] CHECK CONSTRAINT [CHK_DebeHaber]
GO
ALTER TABLE [dbo].[asientos_contables]  WITH CHECK ADD  CONSTRAINT [CHK_Movimiento] CHECK  (([debe]>(0) OR [haber]>(0)))
GO
ALTER TABLE [dbo].[asientos_contables] CHECK CONSTRAINT [CHK_Movimiento]
GO
ALTER TABLE [dbo].[comprobantes]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoComprobante] CHECK  (([estado]='Pendiente' OR [estado]='Anulado' OR [estado]='Registrado'))
GO
ALTER TABLE [dbo].[comprobantes] CHECK CONSTRAINT [CHK_EstadoComprobante]
GO
ALTER TABLE [dbo].[cuentas_contables]  WITH CHECK ADD  CONSTRAINT [CHK_Naturaleza] CHECK  (([naturaleza]='Crédito' OR [naturaleza]='Débito'))
GO
ALTER TABLE [dbo].[cuentas_contables] CHECK CONSTRAINT [CHK_Naturaleza]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD CHECK  (([estatus]='cancelada' OR [estatus]='activa'))
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD CHECK  (([tipo]='egreso' OR [tipo]='ingreso'))
GO
USE [master]
GO
